.container{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: larger;
}
@media (max-width:650px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:651px){

    .content{
        height : calc(100vh - 220px)
    }
}