.navbar {
    background-color: rgb(55, 121, 143);
    color: white;
    
}
.container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    height: 5rem;
    justify-content: space-between;
}
.demo {
    font-size: 2rem;
    margin: auto 0;
   
}

.btn {
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
}

.login {
    background-color: rgb(55, 121, 143);
    border: none;
    color: white;
    cursor: pointer;
}

.trail {
    padding: 2%;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (min-width :651px) {
    .btn {
        width: 30%;
    }
}

@media (max-width:650px) {
   
    .container{
        flex-direction: column;
        height: 6rem;
        text-align: center;
        justify-content: space-evenly;
    }

    .demo {
        font-size: 1.5rem;
    }
}